<% provide(:title, "Data Model") %>

<h1>Data Model</h1>
<ul class="url_data_model">
	<li><%= @url_data_model.pdf_version %></li>
	<li><%= @url_data_model.title %></li>
	<li><%= @url_data_model.metadata %></li>
	<li><%= @url_data_model.page_count %></li>
</ul>